*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}

.container{
    background: #6caa0e;
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction:row;
    justify-content: center;
    align-items: center;
}
.caixa{
    width: 450px;
    height: 550px;
    background: white;
    border-radius: 10px;
}
.titulo{
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    text-align: center;
    font-size: 70px;
    margin-top: 10px;
}
.paletas{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.paleta{
    width: 30px;
    height: 30px;
    margin: 8px;
    border-radius: 20px;
}
#paleta1{
    background: #6caa0e;
}
#paleta2{
    background: #6caa0e;
}
#paleta3{
    background: #6caa0e;
}
.erro{
    color: red;
    text-align: center;
    display: none;
}
.input{
    width: 320px;
    height: 50px;
    background-color: #aaaaaa;
    font-size: 20px;
    border-radius: 10px;
    border: none;
    outline: none;
    padding-left: 10px;
}
.botao{
    width: 50px;
    height: 50px;
    background-color: #aaaaaa;
    border-radius: 10px;
    border: none;
    outline: none;
    font-size: 20px;
    margin-left: 10px;
}
.input_div{
    display: flex;
    justify-content: center;
    margin-top: 10px;
}

.botao_limpar{
    background-color: #000000;
    width: 380px;
    height: 50px;
    border-radius: 10px;
    border: none;
    outline: none;
    font-size: 20px;
    color: white;
    margin-left: 35px;
}
.atividades{
    background-color: white;
    margin: 10px 35px;
    border-radius: 10px;
    padding: 12px;
}
.atividade{
    width: 350px;
    background-color: #6caa0e;
    border-radius: 10px;
    padding: 10px;
    margin-top: 10px;
    display: flex;
    justify-content: space-between;
}
.botao_del{
    background-color: #6caa0e;
    border-radius: 5px;
    border: none;
    margin: 5px;
    padding: 2px;
    color: white;
}
